body {
    font-family: "Roboto";
    line-height: 1.4em;
    color: #54578a;
    margin: 10px;

}

img {
    width: 180px;
    height: 150px;
    margin: 0px;
    padding: 0px;


}

.grandtotal {
    margin-left: 50%;
}

.grandtotal span {
    display: block;
    padding-bottom: 10px;
}

.title {
    font-size: 1.5em;
    text-align: left;
    margin: 10px 0px 20px 0px;
}

.subtitle {
    font-size: 1.2em;
    text-align: left;
    margin: 10px 0px 20px 0px;

}

.center {
    max-height: 150px;
    padding: 0px;
    margin-bottom: 20px;
}

.part1 {
    font-size: 0.8em;
    padding: 0px;
    padding-left: 40px;
    margin: 0px;
}

.fontmedium {
    font-size: 0.9em;
}

.paragraph_01 p {
    font-size: 1.1em;
    margin: 0px;
}

.paragraph_02 p {
    font-size: 1.1em;
    margin: 0px;
    text-align: right;
}

.backgroud div {
    background-color: #54578a;
    color: #fff;
    padding: 15px 5px;
    border-left: 2px;
    text-align: center;
    font-weight: bold;
}

.value {
    margin-top: 25px;
    text-align: center;
}

.left {
    text-align: right;
}